tmp
data*
result*
result_cameraready
res.csv
result_*.png

__pycache__
bench*
noise_std_*
*.py
*.npy
*.sh

screenlog.*

rust-search/lib
rust-search/target
rust-search/build.sh
rust-search/Cargo.lock

!eval/eval.py
